*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
.navbar{
    background: #240c3b;
    padding-right:15px;
    padding-left: 15px;
    height: 60px;
    width: 100%;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-size: 35px;
    font-weight: 600;
    color: antiquewhite;
    margin: 8px;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 100px;
    text-decoration: none;
}
nav ul li:hover{
transform: scale(1.5);
}
 nav ul li a:hover{
    color: rgb(10, 137, 156);
}
section{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
section div{
width: 40%;
}
.leftsection img{
    width: 100%;
    height: 100%;
}

.rightsection  {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
}
.rightsection form{
    height: 80%;
    margin-top: 20%;
    width: 60%;
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 5px 10px;
    background: #fff;
    text-align: center;
}
.rightsection form h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
.rightsection label{
    font-size: 20px;
}
.rightsection form input{
    width: 100%;
    border-radius: 24px;
    padding: 10px 15px;
    font-size: 20px;
    margin: 8px 0 25px;
    background: #eee;
}
 button{
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
button:hover{
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    transform :scale(1.1);
}
